pre[class*="language-"] {
  position: relative;
  overflow: auto;
  margin: 5px 0;
  padding: 1.3rem 0 1rem 1rem;
  background-color: rgb(226, 234, 234);
}

.code-toolbar {
  position: relative;
}

/*.toolbar {
  opacity: 1 !important;
}*/

button {
  position: absolute;
  top: 5px;
  right: 5px;
}

hr {
  height: 1px;
  border-width: 0;
  background-color: black;
}

footer {
  margin-top: 30px;
  text-align: center;
}

/* Cards */
:root {
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  background-color: var(--veryLightGray);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

h1:first-of-type {
  font-weight: var(--weight1);
  color: var(--varyDarkBlue);
}

h1:last-of-type {
  color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }
}

.header {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 50px;
  margin-top: 100px;
}

.header p {
  margin: 0 auto;
  line-height: 2;
  color: var(--grayishBlue);
}

.box p {
  color: var(--grayishBlue);
}

.box {
  width: 500px;
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;
  border-top: 3px solid var(--cyan);
}

img {
  float: right;
}



h2 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
}

/* BUTTON STYLE */
@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");

/* TODO -> Change Button Top Right */

/* Page Loading pop on of cards! Flex alignment of cards! */

.btn a {
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container1 {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  padding: 1rem;
  gap: 5px;
}

.container2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  padding: 1rem;
  gap: 5px;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  border: 1px solid rgba(145, 201, 255, 0.5);
  outline: none;
  transition: 1s ease-in-out;
  font-family: "Lato", sans-serif;
  position: relative;
  background: #6d5570;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  /*background: #cd59dc;*/
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.btn:hover span {
  color: black;
  font-size: 18px;
  font-weight: 100;
}

@media (max-width: 450px) {
  .box {
    width: 90%;
  }
  .container1 {
    width: 95%;
  }

  .container2 {
    width: 90%;
  }
}

@media (max-width: 1540px) and (min-width: 450px) {
  .box {
    width: 350px;
  }

  .container1 {
    width: 60%;
  }

  .container2 {
    width: 95%;
  }
}